@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color-100: 231, 182, 185;
  --primary-color-200: 215, 132, 136;
  --primary-color-300: 187, 16, 32;
  --primary-color-400: 153, 0, 26;
  --primary-color-500: 119, 0, 20;
  --primary-color-600: 85, 0, 14;
  --primary-color-700: 51, 0, 8;
  --primary-color-800: 34, 0, 5;
  --primary-color-900: 17, 0, 2;
}

a {
  text-decoration: none;
  color: rgb(var(--primary-color-800));
  font-weight: 600;
}

body {
  font-family: 'Kode Mono', monospace;
  background-color: #161616;
}

body::before {
  content: '';
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.2;
}

.titlebar {
  height: 40px;
  color: rgb(var(--primary-color-100));
  font-weight: 700;
  font-size: medium;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem;
  position: sticky;
  top: 0;
  left: 0;
  -webkit-app-region: drag;
}

:not(.titlebar) {
  -webkit-app-region: no-drag;
}

.logo {
  height: 20px;
  width: 20px;
  border-radius: 4px;
}

#minimize,
#maximize,
#quit {
  font-size: 10px;
  margin: 0 0.4rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#minimize > svg:hover,
#maximize > svg:hover,
#quit > svg:hover {
  stroke: rgb(var(--primary-color-100));
}

.regular-paragraph {
  font-size: 14px;
  color: rgb(189, 189, 189);
}

/* Main menu */

.main-menu-container {
  height: calc(100vh - 40px);
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.mainmenu-link {
  margin: 4rem;
  min-width: 500px;
  display: grid;
  grid-template-columns: auto;
  gap: 1rem;
}

.mainmenu-link a {
  padding: 3rem;
  text-align: left;
  color: rgb(var(--primary-color-300));
  background-color: rgba(var(--primary-color-300), 0.1);
}

.mainmenu-link a:hover {
  color: white;
  background-color: rgb(var(--primary-color-600));
  transition: all 0.2s ease-in-out;
}

.page-navigator {
  a {
    color: rgb(var(--primary-color-400));
  }

  a:hover {
    color: white;
    transition: all 0.2s ease-in-out;
  }
}

/* main menu settings */

.setting-main-container {
  height: calc(100vh - 40px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* character input styling */

.character-container {
  display: flex;
}

.charInfo-container {
  height: calc(100vh - 32px);
  width: 30%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.char-input {
  background-color: #1a1a1a;
  color: white;
  height: 140px;
  border-radius: 4px;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.char-input {
  input {
    background-color: transparent;
    border: none;
    color: var(--primary-color-300);
    border-bottom: 1px solid var(--primary-color-300);
    width: 100%;
    height: 30px;
    font-size: large;
  }

  input::placeholder {
    color: rgb(57, 57, 57);
  }
}

.char-input {
  input:focus {
    outline: none;
    border-bottom: 1px solid var(--primary-color-300);
  }
}

.char-info {
  margin-top: 2rem;
  padding: 0.5rem;
}

.char-info > h3 {
  margin-bottom: 1rem;
}

.char-button {
  background-color: transparent;
  border: 1px solid var(--primary-color-300);
  color: var(--primary-color-300);
  height: 40px;
  border-radius: 4px;
  font-weight: 600;
  letter-spacing: 4px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.char-button:hover {
  background-color: var(--primary-color-300);
  color: black;
}

.char-btn-warn {
  font-size: 12px;
  color: #a96045;
  margin-bottom: 0.2rem;
}

.disabled {
  background-color: #53352a;
  color: #302521;
  height: 40px;
  border-radius: 4px;
  font-weight: 600;
  letter-spacing: 4px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: not-allowed;
}

/* scroll styling */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #004657;
  border-radius: 6px;
  height: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color-300);
}

::-webkit-scrollbar-track {
  background-color: #222222;
}

::-webkit-scrollbar-track:hover {
  background-color: #0a0d11;
}

.inset-shadow {
  box-shadow: 0px 0px 43px -13px rgba(254, 152, 115, 0.4) inset;
  -webkit-box-shadow: 0px 0px 43px -13px rgba(254, 152, 115, 0.4) inset;
}

.inset-shadow-active {
  border: 1.5px solid var(--primary-color-100);
  box-shadow: 0px 0px 43px 19px rgba(242, 119, 78, 0.4) inset;
}
