.character-menu-container {
  height: calc(100vh - 40px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.page-navigator {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

a {
  text-align: left;
}

a:hover {
  color: white;
}

.character-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.character-name {
  color: rgb(var(--primary-color-300));
  font-size: 20px;
}

.character-profile-box {
  width: 80vw;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.chararcter-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 1rem;
}

.char-card {
  width: 100px;
  height: 100px;
  border: 1px solid rgba(var(--primary-color-300), 0.5);
  transition: transform 0.2s ease-in-out;
}

.char-card:hover {
  border: 1px solid rgb(var(--primary-color-300));
  background-color: rgba(var(--primary-color-700), 0.5);
  transform: scale(1.1);
}

.char-avatar {
  height: 100%;
  width: 100%;
}

.character-full-image {
  width: 400px;
  height: 500px;
  border: 1px solid rgba(var(--primary-color-300), 0.5);
  transition: transform 0.2s ease-in-out;
}

.char-card:hover ~ .character-full-image {
  transform: scale(1.1);
}
